header, body, footer{
    background-color: #28282B;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}
.amaw{
    font-family: Lucida Handwriting;
    font-size: 30px;
}
.yeye{
    font-size: 500px
    text-color: white;
    border-style: Solid 
}
.Top{
    margin-left: 100px;
}

    .



